<html>
  <head>
    <meta charset="UTF-8" />
    <title>Todos and Expenses</title>

    <link rel="stylesheet" href="dependencies/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dependencies/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

  </head>

  <body>
    <div id="container" class="container">
      
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js" charset="utf-8"></script>
  <script src="dependencies/jquery/dist/jquery.min.js" charset="utf-8"></script>

  <script type="text/javascript">
    var Todos = {};
  </script>

  <script src="js/alert.js" charset="utf-8"></script>
  <script src="js/components/NewTodo.js" charset="utf-8"></script>
  <script src="js/new-todo.js" charset="utf-8"></script>

</html>
